{% extends "layout.html" %}

{% block title %}
    Delete a task
{% endblock %}

{% block main %}
    <form action="/completeTask" method="post">
        <select class="form-select mx-auto w-auto" name="confirm-task">
            <option disabled selected> Select a task </option>
            {% for task in tasks %}
                <option > {{task.task}} </option>
            {% endfor %}
        </select>
        <button class="btn btn-light" type="submit">Complete It!</button>
    </form>
    <button class="nav-item"><a class="nav-link" href="/taskManager">Go back</a></button>
{% endblock %}